<head>
    <title>404 - Aziel</title>
    <%- include("./parts/head.ejs") %>
  </head>
  
  <body>
    <%- include("./parts/nav.ejs", { user }) %>
      <div class="wrapper vcenter-item" style="margin-top: 100px;">
        <div id="home">
<center>
     <h2 style="color:white"><b>404: Not Found</b></h2>
     <p style="color:white">Looks like that page was not found on our system.</p>
</center>
        </div>
      </div>
  </body>